.container {
    margin: 50px 0
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgb(110, 168, 226);
}

.recoverd {
    border-bottom: 10px solid rgb(113, 212, 113);
}

.deaths {
    border-bottom: 10px solid rgb(223, 105, 105);
}

@media(max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }
